<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rukina.learningschoolrl">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".utils.MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".utils.Splash"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".utils.s2"
            android:label="Dash board"
            android:screenOrientation="landscape"></activity>

        <activity
            android:name=".activity.chair.s3"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s4"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s5"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s6"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s7"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s8"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s9"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s10"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s11"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s12"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s13"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s14"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s15"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s16"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s17"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s18"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s19"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s20"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.chair.s21"
            android:label="Chair"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.pencil.s22"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s23"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s24"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s25"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s26"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s27"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s28"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s29"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s30"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s31"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s32"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s33"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s34"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s35"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s36"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s37"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s38"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.pencil.s39"
            android:label="Pencil"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.book.s57"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s58"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s59"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s60"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s61"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s62"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s63"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s64"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s65"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s66"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s67"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s68"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s69"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s70"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s71"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s72"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s73"
            android:label="Book"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.book.s74"
            android:label="Book"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.table.s40"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s41"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s42"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s43"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s44"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s45"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s46"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s47"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s48"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s49"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s50"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s51"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s52"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s53"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s54"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s55"
            android:label="Table"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.table.s56"
            android:label="Table"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.girls.s108"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s109"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s110"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s111"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s112"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s113"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s114"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s115"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s116"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s117"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s118"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s119"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s120"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s121"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s122"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.girls.s123"
            android:label="Girls"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.boys.s75"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s76"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s77"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s78"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s79"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s80"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s81"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s82"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s83"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s84"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s85"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s86"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s87"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s88"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s89"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.boys.s90"
            android:label="Boys"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.paper.s91"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s92"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s93"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s94"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s95"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s96"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s97"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s98"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s99"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s100"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s101"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s102"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s103"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s104"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s105"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s106"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.paper.s107"
            android:label="Paper"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.office_and_library.s124_01"
            android:label="Office and Library"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.office_and_library.office.s124"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s125"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s126"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s127"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s128"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s129"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s130"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s131"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s132"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s133"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s134"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s135"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s136"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s137"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s138"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s139"
            android:label="Office"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.office.s140"
            android:label="Office"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.office_and_library.library.s141"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s142"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s143"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s144"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s145"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s146"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s147"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s148"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s149"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s150"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s151"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s152"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s153"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s154"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s155"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s156"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s157"
            android:label="Library"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.office_and_library.library.s158"
            android:label="Library"
            android:screenOrientation="landscape"></activity>


        <activity
            android:name=".activity.principal.s159"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s160"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s161"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s162"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s163"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s164"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s165"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s166"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s167"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s168"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s169"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s170"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s171"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s172"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s173"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s174"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s175"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.principal.s176"
            android:label="Principal"
            android:screenOrientation="landscape"></activity>
    </application>
</manifest>
